<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="spse" translate="label" sortOrder="400">
            <label>PHUNG SPSE</label>
        </tab>
        <section id="spse_export_product" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Speedup Export Product</label>
            <tab>spse</tab>
            <resource>Magento_Backend::advanced</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Enable Speedup Export Product Process</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
